@font-face {
	font-family: "CAMetroBlack";
	src: url(../fonts/CAMetro-Black.ttf);
}
@font-face {
	font-family: "CAMetroSuperfat";
	src: url(../fonts/CAMetro-Superfat.ttf);
}
@font-face {
	font-family: "CAMetroBold";
	src: url(../fonts/CAMetro-Bold.ttf);
}
@font-face {
	font-family: "CAMetroRegular";
	src: url(../fonts/CAMetro-Regular.ttf);
}
@font-face {
	font-family: "CAMetroExtraBold";
	src: url(../fonts/CAMetro-ExtraBold.ttf);
}
@font-face {
	font-family: "LatoHeavy";
	src: url(../fonts/Lato-Heavy.ttf);
}
@font-face {
	font-family: "LatoItalic";
	src: url(../fonts/Lato-Italic.ttf);
}
@font-face {
	font-family: "LatoRegular";
	src: url(../fonts/Lato-Regular.ttf);
}
body{
	overflow-x: hidden;
}
h1,h2,h3,p{
	font-family: Lato;
}
.marginTop0{
	margin-top:0; 
}
.first-sectionpm{
	display: flow-root;
	margin-top: 0;
}
.header-image{
  background-image: url(../images/pm-header-top.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
	/*height: 100%;*/
	height: 550px;
  margin-top: 0;
}
.section-advantage{
	margin-top: 110px; 
}
.pm-header-title{
	margin-top: 35px;
	margin-bottom: 35px;
 	font-size: 25px;
	font-family: "LatoHeavy";
	color: rgb(0, 45, 114);
	text-transform: uppercase;
	line-height: 1.36;
	text-align: center;
	font-weight: bold;
}
.overlay{
/*	position: absolute;
	min-height: 100%;
	min-width: 100%;
	left: 0;
	top: 0;
	background: rgba(244, 244, 244, 0.79);*/
}
section{
	margin: 50px 0;
}
.section-grey{
	padding: 50px 0;
	background-color: #f0f7ff;
}

.big-title,
.bloc-title{ 
	font-weight: bold;
	font-size: 35px;
  font-family: "CAMetroSuperfat";
  color:#1A3C7B;
	text-transform: uppercase;
	text-align: center;
	line-height: 1.286;
}
.sub-title{
	font-size:29px;
	text-align:center;
	color: #022222;
	margin-top: 0;
  margin-bottom: 15px;
}
.line-left,
.yellow-line{
	background-color: rgb(254, 228, 59);
  width: 98px;
  height: 3px;
  margin: 0 auto;
  display: block;
}
.bloc-avantage{
	margin-bottom: 20px;
}
.bloc-avantage h3{
	font-size: 20px; 
	color: rgb(0, 71, 134);
	font-weight: bold;
	line-height: 1.25;
	font-family: "CAMetroExtraBold";
	text-align: center;
	margin-top: 10px;
 }
.bloc-avantage p{
	text-align: center;
	font-family: "CAMetroRegular";
 font-size:15px;
}
.img-center{
	margin: 0 auto;
  display: block;
}
.space100{
	height: 100px;
}
.space50{
	height: 50px;
}
/**Section Rejoinez nous**/
.with-img-back{
	background-repeat: no-repeat;
  background-position: top;
	background-size: cover;
	color: white;
	padding: 0;
}
.back-advanatge1{
background-image: url(../images/advantage1-bg.jpg);
}
.back-advanatge2{
	background-image: url(../images/advantage2-bg.jpg);
}
.back-advanatge3{
	background-image: url(../images/advantage3-bg.jpg);
}
.background-white{
	background-color:white;
}
.steps-list{
	padding: 15px 10px 30px 10px;
	text-align: center;
}
.step-number{
	color: white; 
	line-height: 1.2;
  text-align: center;
  font-size: 65px;
  border-bottom: 3px solid white;
	display: inline-block;
	margin-bottom: 15px;
	font-family: "CAMetroBlack";
	margin-top: 5px;
}
.yellow-line-border{
	border-bottom: 3px solid #e0cb0b;
}
.line-left{
	margin: 0;
	margin-top: 25px;
}
.steps-list h2{
	font-size: 21px;  
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.045;
  text-align: center; 
	font-family: "CAMetroBold";
	color:white;
	min-height: 70px;
  margin-bottom: 10px;
}
.steps-list p{
	line-height: 1.467;
	text-align: center;
	font-size: 15px;
	font-family:"LatoRegular";
	padding:0 20px;
}
.text-blue{
	color: #004786!important;
}	
.text-black{
	color: 232323;
}
.btn-inscrit{
	border: none;
	margin: 0 auto;
  display: block;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: bold; 
	padding: 8px 50px;
	font-family: "CAMetroBold";
	font-size: 16px; 
	line-height: 1.375;
}
.bnt-inscrit-blue{
	 	background-color: rgb(26, 60, 123);
	color: #ffe500;
}
.btn-inscrit-yellow{
	margin-top: 30px;
	color: #00468b;
  background-color: #ffe500;
}
.big-title{ 
	text-align: left;  
}
.corner{
	display: block;
  height: 55px;
	width: 55px;
	position: absolute;
}
.top-corner{ 
  border-top: 8px solid #1a3c7b;
  border-left: 8px solid #1a3c7b;
	left: -10px;
  top: -27px;
}
.bottom-corner{
	border-bottom: 8px solid #1a3c7b;
  border-right: 8px solid #1a3c7b;
	right: -20px;
  bottom: -7px;
}
/**Contact Form**/
 .contact-form{
	margin: 6em 0;
	position: relative;  
 }
 .contact-form h1{
	padding:2em 1px;
	color: #F97300; 
 }
 .contact-form .right{
	max-width: 600px;
 }
 .contact-form .right .btn-secondary{
	background:  #F97300;
	color: #fff;
	border:0;
 }
 .contact-form .right .form-control::placeholder{
	color: #888;
	font-size: 16px;
 }
 .right-pmimg{
	position: absolute;
  right: 90px;
  z-index: 11;
 }
 .left-pmimg{
	z-index: 99999;
  position: relative;
  top: 90px;
 }
 .equal-height{
	 display: flex;
 }
 /**Formulaire**/
 .stepwizard-step p {
	margin-top: 25px;
	font-size: 18px; 
  color: rgb(44, 46, 55);
  line-height: 1.333;
	text-align: center; 
	font-family:"LatoRegular";
}
.form-iscriptions .nextBtn{
	border-radius: 0;
  text-transform: uppercase;
  padding: 10px 45px;
  box-shadow: none;
  border: none;
	font-weight: 500;
	margin-right: 15px;
}
.stepwizard-row {
	display: table-row;
}

.stepwizard {
	display: table;
	width: 100%;
	position: relative;
}

.stepwizard-step button[disabled] {
	opacity: 1 !important;
	filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
	border-width: 4.71px;
  border-color: rgb(230, 230, 230);
  border-style: dotted;
  border-top: 1px;
  width: 100%;
  height: 0;
  top: 19px;
  bottom: 0;
  position: absolute;
  content: " "; 
}
 
.stepwizard-step {
	display: table-cell;
	text-align: center;
	position: relative;
}
.btn-circle {
  border-width: 3px;
  border-color: rgb(0, 71, 134);
  border-style: solid;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
	font-size: 16px;
	font-family: "Roboto";
	color: rgb(0, 71, 134);
	text-transform: uppercase; 
	text-align: center;
}
.form-iscriptions input{
	color: #b9b9b9;
	font-size:15px;
	padding-left:15px;
	font-family : "LatoRegular";
	margin-bottom: 35px;
	height: 33px;
	width: 96%;
  margin-left: 5px;
	border-width: 0.66px;
  border-color: rgb(168, 165, 165);
  border-style: solid;
  background-color: rgb(255, 255, 255);
}
.form-iscriptions .required-input{
	color: rgb(185, 185, 185);
	position: absolute;
  left: 2px;
  top: 6px;
  font-weight: bold;
  font-size: 20px;
}
.has-error .required-input{
	color: #a94442;
}
/**temoinage**/
.temoinage{
	margin-bottom:20px;
}
.temoinage blockquote{
	font-size: 18px;
	text-align: justify;
  font-family: "Lato";
  color: rgb(51, 51, 51);
  line-height: 1.833;
  padding: 0px;
  margin: 10px 0px 20px;
  border-left: none;
}
.temoinage blockquote .quote{
		font-size: 122px;
		font-family: "CAMetroRegular";
		color: rgb(0, 71, 134);
		line-height: 0.27;
		position: absolute;
		left: 5px;
		top: -4px;
}
.pm-name-customer{ 
	font-size:15px;
	font-weight: bold;
  font-family: "Lato";
  color: #004786;
  line-height: 1;
  margin-top: 10px;
  margin-bottom: 0;
}
.pm-position-customer{
	font-size: 15px;
  font-family: "Lato";
  color: #022222;
  line-height: 1.333;
  margin-top: 8px;
}
/**Flip hover**/
.flip-container {
	height:250px!important;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
}

	.flip-container:hover .flipper,  
  .flip-container.hover .flipper {
		cursor: pointer;
		-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
		transform: rotateY(180deg);
	}
	.flip-container,.flipper{
		position:relative;
		height: 100%;
	}
.flip-container, .front, .back {
	width: 100%;
  height: 100%;
}

.flipper {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;
	-moz-transition: 0.6s;
	-moz-transform-style: preserve-3d;
  -o-transition: 0.6s;
	-o-transform-style: preserve-3d;
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}
.front, 
.back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.front {
	/*background: url(http://davidwalsh.name/demo/dwflip.jpg) 0 0 no-repeat;*/
	z-index: 2;
}
.back {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
	transform: rotateY(180deg);
	background-color: rgb(0, 45, 114);
}
.back-logo {
  position: absolute;
  top: 32px;
  left: -44px;
  width: 142px;
  height: 222px;
  background: url(../images/back-icon-av1.png) 0 0 no-repeat;
}
.back p {
	padding: 55px 26px;
  font-size: 15px;
  font-family: "CAMetroRegular";
  color: rgb(255, 255, 255);
  line-height: 1.667;
  text-align: center;
}
/**Sidebar Menu Left**/
.container-left-pmmenu{
	position: absolute;
	top:15%;
	right:0;
	z-index: 9999999;
}
.left-menu-pm {
  list-style: none;
}
.left-menu-pm li { 
  position: relative; 
  margin: 0;
  cursor: pointer;
  border-radius: 0; 
}
.left-menu-pm li img {
	font-size: 20px;
  color: #fff;
  text-align: center;
	padding: 8px 10px 11px 10px;
	margin-bottom:0;
}

.left-menu-pm li.widget-left-menu{
  background: rgb(26, 60, 123);
}
.left-menu-pm li.widget-left-menu2{
 position: absolute;
  top: 52px;
  right: 0;
 background-color: rgb(153, 176, 199);
}
.widget-left-menu2 img{
	padding: 10px 12px!important;
}
.left-menu-pm li.widget-left-menu div.slider{
  background: rgb(26, 60, 123);
}
.left-menu-pm li.widget-left-menu2 div.slider{
	background-color: rgb(153, 176, 199);

}
.left-menu-pm .slider {
  content: "";
  position: absolute;
  top: 0;
  right: 51px;
  width: 0px;
  height: 100%;
border-radius: 0;
  transition: all 0.5s 0.3s ease;
}

.left-menu-pm .slider p {
	font-size: 15px;
  font-family: "CAMetroRegular";
  color: rgb(255, 255, 255);
	line-height: 1.667;
  text-transform: uppercase;
  line-height: 50px;
  opacity: 0;
  transition: all 0.6s ease;
}

.left-menu-pm li:hover .slider {
	width: 115px;
	padding: 0px 25px 0px 15px;
  transition: all 0.5s ease;
}

.left-menu-pm li:hover .slider p {
  opacity: 1;
	transition: all 1s 0.2s ease;
	transform: translateX(-10px);
}
.left-menu-pm li:hover .widget-icon-img { 
	opacity:0;
}
/**Faq form**/
.faq-list{
	position: relative;
  right: 0;
	top: 0;
	background-color: rgb(255, 252, 252);
  box-shadow: -20.741px -3.285px 76px 0px rgba(0, 0, 0, 0.29);
 
  padding: 20px; 
  width: 100%;
	height: 100%;
	display: none;
}
.accordion {
	background-color: transparent;
	font-size: 18px;
  font-family: "LatoRegular";
  color: rgb(2, 34, 34);
  line-height: 1.667;
	text-align: left;
	cursor: pointer;
	padding: 30px 0 10px 0;
	width: 100%;
	border: none; 
	outline: none; 
	transition: 0.4s;
 	border-bottom:2px solid rgb(0, 45, 114);
}

.active, .accordion:hover {
	background-color: transparent;
}

.accordion:after {
	content: '\002B';
	font-size: 20px;
  font-family: "LatoHeavy";
  color: rgb(0, 45, 114);
  line-height: 1.5;
	float: right;
	margin-left: 5px;
}
.active:after {
	content: "\2212";
}

.panel {
	padding: 0;
  background-color: rgba(240, 240, 240, 0.455);
	max-height: 0;
	font-size: 15px;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}
.panel p{
  margin: 0;
}
/*Modal**/

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}
/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
@media (min-width: 1200px){
	.container {
		max-width: 1140px;
	}
}
@media (max-width: 768px){
	.equal-height {
		display: block;
	}
}